{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'reminders/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'reminders/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
        integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
    <title>
        {% if title %}
        {{title}}
        {% else %}
        Deadline Reminder
        {% endif %}
    </title>
</head>

<body>
    {% if request.user.is_authenticated %}
    <nav class="sm-nav">
        <a href="{% url 'reminders:home' %}"><i class="fa-solid fa-house"></i></a>
        <a href="{% url 'users:profile' %}"><i class="fa-solid fa-user"></i></a>
    </nav>
    {% endif %}
    {% block content %}
    {% endblock content %}
</body>

</html>