{% extends 'reminders/base.html' %}
{% block content %}
<div id="home-page">
    {% if not request.user.is_authenticated %}
    <a class="home-link" href="{% url 'users:login' %}">
        <div>Autentificare</div>
    </a>
    <a class="home-link" href="{% url 'users:register' %}">
        <div>Înregistrare</div>
    </a>
    {% else %}
    <button class="home-link">
        <a href="{% url 'reminders:reminders_list' %}">show reminders</a>
    </button>
    <button class="home-link">
        <a href="{% url 'reminders:add_reminder' %}">add reminder</a>
    </button>
    <button class="home-link">
        <a href="{% url 'users:logout' %}">logout</a>
    </button>
    <button class="home-link">
        <a href="{% url 'users:profile' %}">profil</a>
    </button>
    {% endif %}
</div>
{% endblock content %}