{% extends 'reminders/base.html' %}
{% block content %}

<p class="messages">Introdu adresa ta de email. Dacă există un cont asociat acestei adrese vei primi pe email
    instrucțiunile pentru
    resetarea parolei.</p>

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.email.errors }}
        <label for="id_email">Email address:</label>
        {{ form.email }}
    </div>
    <input type="submit" value="Trimite" class="submit-btn">
</form>

{% endblock content %}