{% extends 'reminders/base.html' %}
{% block content %}
<div class="auth-page">
    {% include "reminders/base_messages.html" %}
    {% if validlink %}
    <p class="messages">Introdu noua parolă.</p>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
            <p class="field-error">{{ error }}</p>
            {% endfor %}

        </div>
        {% endfor %}
        <input type="submit" value="Schimbă parola" class="submit-btn">
    </form>

    {% else %}

    <p class="messages">Linkul de resetare a parolei nu este valid.</p>
    {% endif %}
</div>
{% endblock %}